    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><%= link_to 'Home', home_home_path %></li>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Contact', home_contact_path %></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

<h1>You are now signing up for our newsletter!</h1>
<h2>Please, fill the following form with your data:</h2>

<%= render 'form' %>

<%= link_to 'Back', home_home_path %>
