<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> AB2 Restaurant </title>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Home</li>
          <li><%= link_to 'Sign up', new_user_path %></li>
          <li><%= link_to 'Contact', home_contact_path %></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->

    <div class="callout large primary">
      <div class="row column text-center">
        <h1>AB2 Restaurant</h1>
        <h2 class="subheader">Do you want to join our community?</h2>
      </div>
    </div>
   
   <div class="row column text-center">
    <p>Click on <b><%= link_to 'New User', new_user_path %></b> to register for our weekly newsletter!</p>
   </div> 




    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Learn a little bit about us</h3>
        <img class="thumbnail" src="http://i.ndtvimg.com/i/2015-12/italian_625x350_41450863014.jpg">
        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
        <div class="callout">
          <ul class="menu simple">
            <li><a href="#">See more...</a></li>
          </ul>
        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>

  
  </body>
  </html>